@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Splash&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  margin: 0;
  background: url(/assets/img/body_bg.jpg);
  background-size: contain;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(/assets/img/menu_bg.jpg);
  margin: 0 200px;
  height: 100px;

  #addBook {
    height: 40px;
    background: transparent;
    border: 3px solid rgb(255, 196, 0);
    border-radius: 10px;
    color: rgb(198, 212, 0);
    font-weight: bold;
    cursor: pointer;
  }

  #addBook:hover {
    background: rgb(250, 255, 182);
    color: rgb(0, 179, 119);
  }
}

.shelf {
  margin: 20px 50px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background: url(/assets/img/shelf_bg.jpg);
  min-height: 100vh;

  .book {
    margin: 20px 70px;
    width: 250px;
    height: 350px;
    background: url(/assets/img/book_bg.jpg);
    border-radius: 20px;

    .title {
      font-family: "Roboto Condensed", sans-serif;
      font-size: 2.5rem;
      color: rgb(255, 255, 255);
      padding-left: 10px;
    }

    .author {
      font-family: "Splash", cursive;
      font-size: 1.5rem;
      color: rgb(255, 255, 255);
      padding-left: 10px;
    }

    .pagesDiv {
      display: flex;
      align-items: center;
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
      font-size: 1.4rem;
      color: white;
      padding-left: 10px;

      button {
        margin-left: 10px;
        width: 25px;
        height: 25px;
        background-color: transparent;
        color: white;
        border: 1px solid white;
        border-radius: 50%;
        cursor: pointer;
      }
    }

    .actions {
      display: flex;
      justify-content: space-around;
      button {
        width: 80px;
        height: 25px;
        border-radius: 10px;
        cursor: pointer;
      }

      .unfocus {
        background-color: rgb(163, 163, 0);
        border: 1px solid yellow;
        color: white;
      }

      .delete {
        background-color: rgb(126, 0, 0);
        border: 1px solid red;
        color: white;
      }
    }

    .markerContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      .readMarker {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: "Roboto", sans-serif;
        color: white;
        margin-top: 20px;
        min-width: 70px;
        height: 25px;
        background-color: green;
        border-radius: 15px;
      }
    }
  }
}

.form {
  position: absolute;
  display: flex;
  flex-direction: column;
  left: calc(50% - 100px);
  top: calc(50% - 150px);
  padding-top: 10px;
  width: 200px;
  height: 300px;
  background-color: rgb(185, 185, 185);

  input {
    margin: 10px auto;
    margin-left: 10px;
  }

  label {
    margin-left: 10px;
  }

  #makeBook {
    align-self: center;
    border: 3px outset #1c6ea4;
    border-radius: 5px;
    width: 80px;
    margin-top: 10px;
    margin-left: calc(50% -40px);
    cursor: pointer;
  }
}

// TEMP

.book,
.form {
  border: 1px solid red;
}

// COMMON

.menu,
.shelf {
  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    3px 13px 23px 17px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 10px 13px -7px #000000, 3px 13px 23px 17px rgba(0, 0, 0, 0.5);
}
